    <footer class="page-footer no-padding" style=" background-color: #007db8; ">          
    <div class="row no-padding">
    </div>
    </div>
    <div class="footer-copyright" >
            <div class="container" style="align-items:center">
             <i class="tiny material-icons" style="color:black">copyright</i> Designed and Developed with <i class="tiny material-icons" style="color:red">favorite</i> by <a href="https://github.com/Rohithgilla12/DellH2H">Team 4</a> 
            <a class="grey-text text-lighten-4 right" href="/"><i class="material-icons">home</i> </a>
            </div>
    </div>
</footer>
